{{ range . }}
<tr class="stockit-row cursor-pointer" data-row-id="{{ .ID }}" data-row-delete-confirm="{{ .DeleteConfirm }}" onclick="StockIt.rowSelected(this)">
  {{ range .Cells }}
  <td class="stockit-cell max-w-[24rem] truncate align-top">{{ . }}</td>
  {{ end }}
</tr>
{{ end }}
